<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>答题系统</title>
<link href="bootstrap.css" type="text/css" rel="stylesheet">
<link href="index.css" type="text/css" rel="stylesheet">
</head>
<body>
	<div id="box">
		<div id="box_inner">
			<div id="title">
				<h1>Exam System 答题系统</h1>
				<div id="time">
					<p>考试时间40分钟 ， 总分100</p>
				</div>
			</div>
			<div id="start">
			  <a href="/start" >开始答题</a>
			</div>
			<div id="topic">
			  <a href="/store_topic" >添加题目</a>
			</div>
		</div>
	</div>
</body>
</html>